.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FFEFCB;
    backdrop-filter: blur(10px);
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 5vh;
    align-items: center;
    height: 90vh;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
    flex: 0 0 auto;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #BA8C76;
    margin: 0;
    padding: 0;
    position: absolute;
}

.con{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.button:hover{
    background-color: #BA8C76;
}

.button:active{
    transition: 0.1s;
    background-color: #7D5846;
}

.button{
    font-size: 3vh;
    height: auto;
    width: auto;
    white-space: nowrap;
    background-color: #DDBFA1;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.input{
    height: 3vh;
    width: 25vw;
    box-sizing: content-box;
    border: none;
    background-color:#EFE8E2;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 37.5vw;
    /* margin-right: 27.5vw; */
    /* align-self: center; */
}

.title{ 
    height: 30vh;
    width: 100vw;
    /* margin-top: 5.875%;
    margin-bottom: 5.875%; */
}

.in{
    height: 4.75vh;
    width: 80vw;
    /* margin-left: 5vw; */
}

#au{
    font-size: 1.5vw;
    margin-top: 6vh;
    margin-left: 45.5vw;
    margin-right: 45.5vw;
    width: 9vw;
}

#reg{
    margin-top: 2vh;
    font-size: 1.5vw;
}

.text{
    font-size: 3vw;
    margin-left: 42vw;
    /* margin-right: 32vw; */
    margin-top: 5vh;
}

.alertmsg{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 37.5vw;
    color: red;
}

#password{
    margin-top: 1vh;
}

@media screen and (max-width:900px) {
    .text{
        font-size: 5vw;
        margin-left: 0;
        margin-top: 0;
    }

    #n1{
        height: auto;
        width: auto;
    }

    .title{
        margin-bottom: 0;
        margin-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    #password{
        /* margin-top: 20vh; */
    }

    .input{
        width: 50vw;
        margin-left: 27.5vw;
        margin-top: 20vh;
    }

    .alertmsg{
        margin-left: 28.5vw;
        margin-top: 10vh;
        font-size: 3vw;
    }

    .in{
        /* margin-right: 1vw; */
        /* margin-left: 15vw; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #au{
        width: auto;
        height: auto;
        font-size: 5vw;
    }

    #reg{
        width: auto;
        height: auto;
        font-size: 5vw;
        margin-left: 0;
    }
}