#but2, #but4{ /*Для авторизованного аккаунта*/
    margin-left: 3.9vw;
    margin-right: 3.9vw;
}

#but5{
    margin-right: 15vw;
}

#but6{
    margin-left: 2vw;
    margin-right: 4.5vw;
}