.content{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    /*min-height: 600px;*/
    position: absolute;
    background-color: #FFEFCB;
    backdrop-filter: blur(10px);
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 5vh;
    align-items: center;
    height:85vh;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
    flex: 1 0 auto;
    min-height: 615px;
}

body{
    height: 100%;
    width: 100%;
    background-color: #BA8C76;
    margin: 0;
    padding: 0;
    min-height: 600px;
}

.footer{
    position:fixed;
    min-width: 600px;
    width:80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 50%;
    height: 10vh;
    background-color: #7D5846;
    flex: 0 0 auto;
    border-radius: 1vh 1vh 0px 0px;
    bottom: 0;
    
}

.con{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.button:hover{
    background-color: #BA8C76;
}

.button:active{
    transition: 0.1s;
    background-color: #7D5846;
}

.button{
    font-size: 120%;
    height: auto;
    width: auto;
    white-space: nowrap;
    background-color: #DDBFA1;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.input{
    height: 50%;
    width: 100%;
    box-sizing: content-box;
    border: none;
    background-color:#EFE8E2;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    /* align-self: center; */
}
.form{
    max-height: 600px;
    min-width: 100px;
    display: flex;
}
.usrform{
    min-width: 100px;
    max-width: 600px;
}
textarea{
    resize: none;
}
.comment{
    max-height: 400px;
    min-width: 100px;
    width: 30vw;
    height: 50vh;
   
}
.title{ 
    height: 10vh;
    width: 100%;
    /* margin-top: 5.875%;
    margin-bottom: 5.875%; */
}

.in{
    height: 17.5%;
    width: 100%;
}

#au{
    margin-top: 3vh;
}

#reg{
    margin-top: 3%;
}

.ni2{
    margin: 10%;
}

#ti{
    height: 5%;
}
