.footer{
    position:fixed;
    min-width: 600px;
    width:80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 50%;
    height: 10vh;
    background-color: #7D5846;
    flex: 0 0 auto;
    border-radius: 1vh 1vh 0px 0px;
    bottom: 0;
    
}